*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0 auto;
    width: 960px;
    background-color: white;
}

.container header{
    margin: 0;
    width: 100%;
    height: 60px;
    display: flex;
}

.container hr{
    border-top: dotted;
}

.container header .logo{
    margin: 10px;
    width: 20%;
    height: 40px;
    background-image: url(../images/softhills-logo.png);
    background-size: 140px;
    background-repeat: no-repeat
}

.container header nav{
    width: 80%;
}

.container header nav ul{
    width: 90% ;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.container header nav ul li{
    margin: 2px;
    text-decoration: none;
    list-style-type: none;
    padding-top: 8px;
}

.container header nav ul li a{
    text-decoration: none;
    color: black;
}

.container .banner{
    margin: 0;
}

.container .banner .img{
    background-image: url(../images/jumbo.jpg);
    background-size: cover;
    height: 200px;
}

.container .banner .img2{
    background-image: url(../images/jumbo-about.png);
    background-size: cover;
    height: 200px;
}

.container .banner div{
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.container .banner .about{
    padding: 10px;
}

.container .banner div p{
    font-size: 18px;
    margin: 0;
}

.container .banner div .p1, .p2{
    width: 45%;
}

.container .learn, .learn2{
    padding: 10px;
    display: flex;
}

.container .pt1, .point1{
    margin-right: 10px;
}

.container .pt2, .point2{
    margin-left: 10px;
}

.container .learn .point1 .img{
    margin: 5px;
    height: 200px;
    background-image: url(../images/about-plan.png);
    
}

.container .learn .point2 .img{
    margin: 5px;
    height: 200px;
    background-image: url(../images/about-working.png);
    
}

.container .learn2 .pt1 .img{
    margin: 5px;
    height: 200px;
    background-image: url(../images/about-office.png);
    
}

.container .learn2 .pt2 .img{
    margin: 5px;
    height: 200px;
    background-image: url(../images/about-meeting.png);   
}

.container .mid{
    width: 100%;
    min-height: 250px;
}

.container .mid p{
    padding: 15px;
}

.container .mid .mid-widget1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    min-height: 100px;
    flex-wrap: wrap;
}

.container .mid .widget{
    margin: 20px;
    width: 15%;
    height: 90px;
    text-align: center;
    padding-top: 25px;
}

.container .mid-widget1 .widget:nth-child(1){
    background-color: green;
}

.container .mid-widget1 .widget:nth-child(2){
    background-color: yellow;
}

.container .mid-widget1 .widget:nth-child(3){
    background-color: teal;
}

.container .mid-widget1 .widget:nth-child(4){
    background-color: orange;
}

.container .mid-widget1 .widget:nth-child(5){
    background-color: red;
}

.container .mid-widget1 .widget:nth-child(6){
    background-color: greenyellow;
}

.container .mid-widget1 .widget:nth-child(7){
    background-color: rgb(227, 168, 227);
}

.container .mid-widget1 .widget:nth-child(8){
    background-color: palevioletred;
}

.container .mid-widget1 .widget:nth-child(9){
    background-color: purple;
}

.container .mid-widget1 .widget:nth-child(10){
    background-color: rgb(142, 165, 221);
}

.container .footer{
    display: flex;
    margin: 10px;
}

.container .footer p{
    width: 70%;
    display: flex;
}

.container footer ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    background-color: black;
}

.container footer ul li{
    margin: 5px 20px;
    text-decoration: none;
    color: white;
    list-style-type: none;
}

.container footer ul li a{
    text-decoration: none;
    color: white;
}

.container button{
    background-color: white;
    border-radius: 5px;
}

.container .h2{
    font-size: 18px;
    font-weight: 1;
    padding: 10px 0;
}